/* MEDIA QUERIE */
@media screen and (max-width: 600px) {

    /* HEADER */
    .superior {
        height: 8vh;
        align-items: center;
        .menuImagen {
            display: flex;
            
        }
        .logo {
            display: flex;
            justify-content: center;
            width: 20%;
            a {
                display: flex;
                width: 100%;
            }
            img {
                margin-top: 23%;
                margin-left: 10%;
                height: 60%; 
                width: 100%;
            }
        }
        h1 {
            font-size: 2rem;
        }
        nav {
            display: none;
        }
    }
    
    /* MAIN */
    /* SECCION 1 */
    .seccion1 {
        flex-direction: column;
        .textoPrincipal {
            width: 100%;
            p {
                line-height: 14px;
                padding: 5px;
                font-weight: 400;
                font-size: 12px;
                
            }    
        }
    }

    /* SECCION 2*/
    .seccion2 {
        h2 {
            font-size: 1rem;
            padding: 2px;
            height: 4rem;
        }
    }

    /* SECCION 3 */
    .seccion3 {
        height: 30rem;
        &__formulario {
            align-items: center;
            height: 15rem;
            color: rgb(254, 241, 255);
            a {
                color: rgb(254, 241, 255);
                margin-left: 6rem;
            }
        }
        button {
            margin-top: 2px;
        }
    }

    /* FOOTER */
    .inferior {
        
        text-align: center;
        gap: 0.5rem;
        background-color: rgb(196, 196, 196);
        span {
            position: inherit;
            width: 100%;
            font-size: small;
        }
        .redes {
            width: 100%;
            border: none;
            ul {
                margin-top: 10px;
                li {
                    padding: 1px;
                }
                img {
                    width: 25px;
                }
            }
        }
        .terminosYcondiciones ul {
            flex-direction: column;
            li {
                padding: 1px;
                font-size: small;
            }
        }
        
    }
}
